header{
    position: fixed;
    z-index: 1020;
    width: 100%;
    display: flex;
    height: 3.667rem;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #a4b7c1;
    .brand-w-button{
        display: flex;
        position: relative;
        justify-content: space-between;
        width: 16rem;
        height: 3.667rem;
        i{
            @include line-and-height(3.667, 3.667);
            width: 2rem;
            cursor: pointer;
            font-size: 1.2rem;
            text-align: center;
        }
    }
}
.user-nav{
    flex:0 0 85%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #536c79 !important;
    & > *{
        padding: 0 2rem;
        display: flex;
        align-items: center;
    }
    &>*:hover{
    }
    &__icon-box{

    }
    &__icon{
        height: 2.5rem;
        width: 2.5rem;

    }
    &__notification{

    }
    &__user{
        cursor: pointer;
    }
    &__user-photo{
        border-radius: 50%;
    }
    &__user-name{

    }
    &__logout{
        color: #536c79 !important;
    }
}