.login-page{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-page,
.login-page::before,
.login-page::after{
    box-sizing: inherit;
}

.login {
  display:flex;
  justify-content: space-around;
  align-content: center;
  background-image: linear-gradient(to right bottom,$primary-color1,rgba($primary-color1,.8) );
  min-height: 100vh;
    &__items{
      flex: 0 0 20%;
      background-color: $primary-color1;
      margin: 15rem;
      padding: 5rem;
      max-height: 20rem;
      border-radius: 1rem;
      z-index: 100;
      box-shadow: 0 0 2rem;
      
    }
    &-text{
     text-align: center;  
     font-size: 1rem;
     font-weight: 200;
     color: rgba($color-black,.5);
    }
  }
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
    &__image{
      flex:auto
    }
  }